<div id="homepage-content">
    <h1>Hello, Welcome to Jenna's First Rails App</h1>
    <h3>I built this following the instructions found <a href="https://guides.rubyonrails.org/getting_started.html">here</a>. I hightly recommend it for a first project!</h3>
    <br>
    <h3><%= link_to 'My Ruby on Rails Blog', controller: 'articles' %></h3>
</div>

